{{#each mealkits}}
  <div class="col">
    <div class="card">
      <img src="/Images/{{image_URL}}" class="card-img-top" alt="{{title}}" />
      <div class="card-body">
        <h5 class="card-title"><b>{{title}}</b></h5>
        <p class="card-text" style="font-size: small;">{{included}}</p>
      </div>
    </div>
  </div>
{{/each}}