<div class="container welcome">
  <div class="row">
    <h4>WELCOME! {{values.firstName}}, WE ARE ZIPMEAL</h4>
    <h5>FRESHNESS TO YOUR DOORSTEP</h5>
    <div class="welcomeIMG">
      <img
        src="/images/meal-2.png"
        alt="meal-2"
        width="100"
        style="margin-bottom: 20px;"
      />
      <img
        src="/images/meal-3.png"
        alt="meal-3"
        width="100"
        style="margin-bottom: 20px;"
      />
      <img
        src="/images/meal.png"
        alt="meal"
        width="100"
        style="margin-bottom: 20px;"
      />
      <img
        src="/images/meat.png"
        alt="meat"
        width="100"
        style="margin-bottom: 20px;"
      />
      <img
        src="/images/salad.png"
        alt="salad"
        width="100"
        style="margin-bottom: 20px;"
      />
      <img
        src="/images/christmas-dinner.png"
        alt="chirstmas-dinner"
        width="100"
        style="margin-bottom: 20px;"
      />
    </div>
    <div>
      <button type="button" onclick="location.href='/mealkit/onTheMenu';">LET'S
        START</button>
    </div>
  </div>

</div>