/*font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  margin: 0px;
  background-color: white;
}

h3 {
  text-align: center;
  color: #5a8157;
  font-family: "Koh Santepheap", cursive;
}
/*header*/
header {
  margin-top: 60px;
}

/* NavigationBar */
#NavigationBar {
  background-color: white;
  margin: 0 auto;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  border: 1px solid darkgreen;
}

#logo {
  text-align: center;
}

.navi-left {
  margin-left: 10px;
  padding: 15px;
}

.navi-right {
  margin-left: 67%;
  padding: 15px;
}

.navi-left a:link {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #5a8157;
  text-decoration: none;
  margin-right: 10px;
}

.navi-left a:hover,
a:active {
  text-decoration: underline;
}

.navi-left a:visited {
  color: #5a8157;
}

.navi-right a:link {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #5a8157;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
}

.navi-right a:visited {
  color: white;
}

.navi-right a:hover,
a:active {
  background-color: #ff665a;
}

/*Hero*/
#Hero {
  height: 400px;
  background-image: url("/images/ontario-food.jpg");
  line-height: 400px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: white;
}

/*content section*/
#How-it-works {
  width: 85%;
  max-width: 1100 px;
  margin: auto;
  font-family: "Roboto Slab", serif;
}

#process {
  display: flex;
}

.content-box {
  margin: 10px;
  color: #898a8d;
  width: 400px;
}

.contentIMG {
  text-align: center;
}

.how-content p {
  text-align: center;
}

/*Top Meals section*/
#TopMeals {
  width: 85%;
  max-width: 1100 px;
  margin: auto;
}

#meal {
  display: flex;
}

.mealbox {
  box-shadow: 5px 5px 5px grey;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  background-color: #e8eae7;
  color: #5e5c4f;
  width: 400px;
}

.mealbox:hover {
  background-color: #e0e2b0;
  color: #5e5c4f;
}

.mealbox p {
  font-family: "Roboto Slab", serif;
  font-size: small;
}

.mealbox h5 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0px;
}

.mealbox h3 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0px;
}

.mealIMG-1 {
  background-image: url("/images/Turkey.jpg");
  background-size: cover;
}

.mealIMG-1:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.mealIMG-2 {
  background-image: url("/images/Togarashi Beef.jpg");
  background-size: cover;
}

.mealIMG-2:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.mealIMG-3 {
  background-image: url("/images/Tacos.jpg");
  background-size: cover;
}

.mealIMG-3:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.mealcontent {
  background: none;
  position: relative;
}

.mealprice p {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: medium;
}

/* footer section */
#footer {
  background-color: #dacd75;
  padding: 25px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  display: flex;
}

#footer h3 {
  font-family: "Roboto Slab", serif;
}

#footer div {
  flex: 1;
}

.footerContact a {
  margin-right: 10px;
}

.footerContact a:hover,
a:active {
  text-decoration: underline;
}

.copyright {
  color: #5e5c4f;
}

.footerNavi a {
  color: #5e5c4f;
  text-decoration: none;
}

.footerNavi a:hover,
a:active {
  text-decoration: underline;
}

/*back-to-top*/
#back-to-top a {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
